body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    animation: fadein 3s;
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    

        
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    flex-wrap: wrap;
    font-weight: 200;
}


header .contact {
}

header img.avatar {
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    transition: border-color 0.5s ease;

}

header ul.menu {
    font-size: 20px;
    margin-top:auto;
    margin-bottom: auto;
        list-style: none;
        padding: 0;

}

header ul.menu li {
        display: inline;
        margin:0 0 0 10px;
}



header ul.menu li a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
        font-weight: bold;
}
header ul.menu li a:hover{
    color: red;
}

main p {
        text-align:justify;

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img {
    padding: 10px;
    transition: background-color 0.5s ease;
    width: 30px;

}

footer img:hover {
    background-color: red;

}
