a(href="http://github.com/edenzik")
 img(src="icons/github.svg")
a(href="http://linkedin.com/in/edenzik")
 img(src="icons/linkedin.svg")
a(href="http://stackoverflow.com/users/2593964/edenzik")
 img(src="icons/stackoverflow.svg")
a(href="http://fb.co/edenzik")
 img(src="icons/facebook.svg")
a(href="http://twitter.com/edenzik")
 img(src="icons/twitter.svg")
a(href="http://keybase.io/edenzik")
 img(src="icons/keybase.svg")
a(href="http://medium.com/@edenzik")
 img(src="icons/medium.svg")
a(href="mailto:ping@edenzik.com")
 img(src="icons/email.svg")
