doctype html
html(lang="en")
    link(rel="stylesheet", href="css/style.css")
  head
      title="Eden Zik dot com"
  body
      header
          .contact @edenzik
          img.avatar(src="img/profile.png")
          ul.menu
              li 
                  a(href="fasdfds") About
              li 
                  a(href="fasdfds") Contact
              li 
                  a(href="fasdfds") Blog
              li 
                  a(href="fasdfds") Projects
      main
          hline
          p hello worlddsfjaklsdjflkasdjfkljasdlkfjasdlkfja fjlks ajdklfjaklsdfj lkasdjf kasldjflk asdjfklajsdlkf jasdlk fjalksd fjlkasd jflkasdj lfks
          p sdfhaljksdhf asdjfhaksdjfh
      footer
          include jade/footer.jade
