doctype html
html(lang="en")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald', rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="css/style.css")
  head
      title="eden zik dot com"
  body
      header
          h3.contact eden zik
          img.avatar(src="img/profile.png")
          ul.menu
              li 
                  a(href="#") Home
              li 
                  a(href="https://www.sharelatex.com/github/repos/edenzik/resume/builds/1d40c28699eb82900784c6f436095c0efc672fc1/raw/output.pdf") Resume
              li 
                  a(href="http://github.com/edenzik") GitHub
              li 
                  a(href="/blog") Blog
         hr
      main
        p I'm Eden Zik, a database engineer at <a href="http://vertica.github.io"> vertica</a>
          hr
      footer
          include jade/footer.jade
